<!-- <form class="container">
  <h2>Nova Transferência</h2>
  <div class="form-group">
    <label for="Valor">Valor</label>
    <input type="email" class="form-control" id="Valor" aria-describedby="emailHelp" placeholder="Enter email">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">destino</label>
    <input type="password" class="form-control" id="destino" placeholder="Password">
  </div>

  <button type="submit" class="container form-control-sm btn btn-primary">Transferir</button>
</form>
 -->
<section class="container">
  <h2 class="titulo">Tranferências</h2>
  <form class="formulario" (ngSubmit)="tranferir()">
    <h2 class="formulario_titulo">Nova Transferência</h2>

    <div class="form-field">
      <label class="form-field_label" for="valor">Valor</label>
      <input class="form-field_input" id="valor" type="number" [(ngModel)]="valor" name="valor" />
    </div>

    <div class="form-field">
      <label class="form-field_label" for="destino">Destino</label>
      <input class="form-field_input" id="valor" type="text" [(ngModel)]="destino" name="destino" />
    </div>

    <div class="botao-wrapper">
      <button class="botao" type="submit">Transferir</button>
    </div>
  </form>
</section>
